.header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.block-serch input {
    border-radius: 10px;
}

.header-left a.logo {
    border-right: 1px solid #dfdfdf;
    margin: 0;
    padding-right: 10px;
}

h4.header-tagline-top {
    font-family: libre baskerville, serif;
    font-size: 2rem;
    font-weight: 600;
    color: #c2a15c;
    margin: 0;
}

h6.header-tagline-bottom {
    font-family: libre baskerville, serif;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    width: 55%;
    margin-top: 7px;
}

.header-tagline-wrapper {
    padding-left: 6px;
}

.header.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.block.block-search {
    float: none;
    padding: 0;
    width: 400px;
    height: auto;
}

.login-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 130px;
    font-weight: bold;
}

.login-section h6 {
    margin: 0;
    font-size: 16px;
}

.login-section a {
    color: #a57612;
    text-decoration: none;
}

.login-section a:first-child {
    padding-right: 7px;
}

.login-section a:last-child {
    padding-left: 7px;
}

.login-section span:first-child {
    padding-right: 8px;
}

.login-section span:last-child {
    padding-left: 3px;
}

.header-left .logo img {
    width: auto;
    height: 50px;
}

#login-text {
    padding-right: 5px;
}

#register-text {
    padding-left: 5px;
}

.rctv-nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.rctv-nav ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.rctv-nav ul>li {
    margin: 0;
    font-family: libre baskerville, serif;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}